<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<br>

  <% if current_user %>
  <%= current_user.email %>님환영합니다
  <%= link_to '로그아웃하기', session_path(current_user.id), method: :delete%>
  <%= link_to '어드민권한', edit_user_path(current_user.id) %>
  <%= link_to 'Moder 권한', users_moder_path(current_user.id) %>
  <% else %>
  <%= link_to '회원가입하기', new_user_path %>|
  <%= link_to  '로그인하기', new_session_path %>
  <% end %>

<%= yield %>

</body>
</html>
